/* General styles */
html, body {
	max-width: 100%;
	padding: 0;
	margin: 0;
	display: block;
	font-family: "Lato", sans-serif;
	color: #2d3c49;
}

h1, h2, h3, h4, p, a {
	color: #2d3c49;
}

.header, .header_title, .main, .footer, .footer_title {
	padding: 0;
	margin: 0;
}

/* Header style */
.header_logo {
	width: 30%;
	padding: 0;
	margin-right: 0;
}
.header_title {
	width: 70%;
	padding-right: 5px;
}

.header_logo_image {
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

/* Horizontal rule style */
.horizontal_rule { 
	width: 100%;
	padding: 5px 0 5px 0;
	margin: 0;
}

.hr_content {
	padding: 0;
}

.hr {
	width: 100%;
	height: 5px;
	border-top: solid 3px #7d97ad;
}

/* Main content style */
.main_image {
	padding: 0;
}


/* Footer style */
.footer {
	display: flex;
	flex-wrap: wrap;
}

.featured_works {
	margin-left: 0;
	padding: 0 0 0 10px;
	margin-bottom: 0;
	color: #7d97ad;
}

.work_item {
	padding: 0;
}

.work_item h3 {
	margin-top: 10px;
}

.works_image {
	margin: 0;
	padding: 0;
	width: 100%;
}

.works_image:last-of-type {
	margin-right: 0;
	padding: 0;
	border: none;
}

.description {
	padding: 10px;
}

