html, body {
	max-width: 100%;
	padding: 0;
	margin: 0;
	display: block;
}

.header, .header_title, .main, .footer, .footer_title {
	padding: 0;
	margin: 0;
}

.header_logo {
	padding: 0;
	margin-right: 0;
}
.header_title {
	padding-right: 5px;
}

.header_logo_image {
	max-width: 100%;
	padding: 0;
	margin: 0;
}


.content {
	max-width: 100%;
	margin: auto;
}

.horizontal_rule { 
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}


.footer {
	display: flex;
	flex-wrap: wrap;
}

.featured_works {
	margin-left: 0;
	padding: 0;
	margin-bottom: 0;
}

.work_item {
	padding: 0;
}

.work_item h3 {
	margin-top: 10px;
}

.works_image {
	margin-left: 0;
	padding: 0;
	width: 100%;
}

.works_image:last-of-type {
	margin-right: 0;
	padding: 0;
	border: none;
}

.hr_content {
	padding: 0;
}

.hr {
	width: 100%;
	height: 2px;
}

.img-responsive {
	width: 100%;
}

.main_image {
	padding: 0;
}

.description {
	padding: 10px;
}