/* Adjust text and images to small resolution screens */

@media screen and (min-width: 0px) and (max-width: 549px) {
	.header_title h1 {
		font-size: 28px;
	}

	.header_title h4 {
		font-size: 14px;
	}

	.featured_works h2{
		font-size: 18px;
	}

	.work_item {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	.work_item h3 {
		order: -1;
		width: 100%;
		font-size: 15px;
	}

	.works_images {
		width: 100%;
	}

	.work_item img {
		width: 100%;
	}

	.description {
		width: 50%;
		text-align: left;
		font-size: 13px;
		vertical-align: middle;
	}

	.item_image {
		width: 50%;
	}

	.header_logo_image {
		max-width: 100px;
	}
}

/* Adjust text to better fill the screen */
@media screen and (min-width: 451px) {
	.footer_title h2 {
		font-size: 24px;
	}
	.header_title h1 {
		font-size: 32px;
	}

	.header_title h4 {
		font-size: 14px;
	}

	.description p {
		size: 16px;
	}

	.work_item h3 {
		font-size: 18px;
	}
}

/* Adjust text and images to medium resolution screens */
@media screen and (min-width: 550px) and (max-width: 849px) {
	.work_item {
		width: 50%;
	}

	.header_title h1 {
		font-size: 50px;
	}

	.header_title h4 {
		font-size: 16px;
	}
	.header_logo_image {
		max-width: 140px;
	}
}

/* Adjust text and images to large resolution screens */
@media screen and (min-width: 850px) {
	.container {
		width: 850px; 
	}
	.header_title h1 {
		font-size: 50px;
	}

	.header_title h4 {
		font-size: 18px;
	}
	.work_item {
		width: 33%;
	}
	.header_logo_image {
		max-width: 150px;
	}
}